<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # --- Serve existing files directly (Vue assets, images, etc.)
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # --- Fallback: Let Laravel handle everything else (SPA routes)
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_headers.c>

    Header set Access-Control-Allow-Origin "http://localhost:4173"

    # # Match localhost with specific ports: 5173, 5174, 4173, 4174
    # SetEnvIfNoCase Origin "^https?://localhost:(5173|5174|4173|4174)$" AccessControlAllowOrigin=$0

    # # Set the Access-Control-Allow-Origin header only when matched
    # Header set Access-Control-Allow-Origin "%{AccessControlAllowOrigin}e" env=AccessControlAllowOrigin
    # Header always set Access-Control-Allow-Credentials "true" env=AccessControlAllowOrigin

    # # Ensure caching proxies differentiate by Origin
    # Header always set Vary "Origin"
</IfModule>
